/* index */

div.indexRight{
    right: 0;
    top: 0;
    bottom: 0;
    border: solid 1px lightgray;
    overflow: auto;
    max-height: 100%;
    min-height: 100%;
    min-width: 50%;
    max-width: 50%;
    position: absolute;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

div.indexLeft{
    max-height: 100%;
    min-height: 100%;
    min-width: 50%;
    max-width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    position: absolute;
    background-image: url('../images/index.jpg');
    background-size: cover;
}

button.index{
    width: 8%;
    height: 8%;
    background-color: lightblue;
    cursor: pointer;
    bottom: 5%;
    right: 5%;
    position: absolute;
    border-radius: 50%;
    border: none;
    box-shadow: 10px 10px 14px rgba(93, 93, 93, 0.2);
    transition: background-color 0.2s ease;
}
  
button.index:hover {
    background-color: #ecdc2e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p.index{
    position: absolute;
}

h1.index{
    font-family: Impact;
    color: white;
    text-shadow: 3px 3px 5px rgba(51, 51, 51, 0.5); 
}

/* table */

div.table{
    width: 80%;
    height: 100%;
    display: flex;
    margin: 0% 20% 0% 20%;
    background-color: white !important;
}

button.tableDel{
    height: 30%;
    width: 30%;
    background-color: transparent;
    border: none;
    margin: 0px 0px 0px 0px;
}

button.tableEdit{
    height: 40%;
    width: 40%;
    background-color: transparent;
    border: none;
    margin: 0px 0px 0px 0px;
}

img.table{
    height: 20px;
    width: 20px;
    margin: 0px 0px 0px 0px;
}

th.table{
    text-align: center;
    vertical-align: middle;
    max-width: 20% !important;
    white-space: nowrap;
    vertical-align: center;
    color: darkslategrey;
}

td.table{
    text-align: center;
    vertical-align: middle;
    max-width: 20% !important;
    white-space: nowrap;
    padding: 10px 10px 10px 10px;
}

/* modal new */

div.new{
    padding: 5% 10% 10% 10%;
}

div.newButtons{
    display: flex;
}

button.newSave{
    position: absolute;
    width: 10%;
    right: 6%;
    bottom: 10%;
    background-color: rgb(210, 238, 144);
    border: none;
    box-shadow: 10px 10px 14px rgba(93, 93, 93, 0.2);
    transition: background-color 0.2s ease;
}

button.newSave:hover {
    background-color: #ecdc2e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button.newCancel{
    position: absolute;
    width: 10%;
    right: 18%;
    bottom: 10%;
    background-color: lightcoral;
    border: none;
    box-shadow: 10px 10px 14px rgba(93, 93, 93, 0.2);
    transition: background-color 0.2s ease;
}

button.newCancel:hover {
    background-color: #ecdc2e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

input.new{
    margin: 0% 0% 5% 0%;
    width: 100%;
}

div.newTitle{
    text-align: right;
    margin-right: 5%;
    margin-top: 5%;
    font-family: Impact;
    color: darkslategrey;
}

/* modal edit */

p.del{
    margin: 5% 5% 10% 5%;
}

button.delSave{
    position: absolute;
    width: 20%;
    right: 5%;
    bottom: 10%;
    background-color: lightgreen;
    border: none;
    box-shadow: 6px 6px 14px rgba(93, 93, 93, 0.2);
    transition: background-color 0.2s ease;
}

button.delSave:hover {
    background-color: #ecdc2e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button.delCancel{
    position: absolute;
    width: 20%;
    right: 27%;
    bottom: 10%;
    background-color: lightcoral;
    border: none;
    box-shadow: 6px 6px 14px rgba(93, 93, 93, 0.2);
    transition: background-color 0.2s ease;
}

button.delCancel:hover {
    background-color: #ecdc2e;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}